{{#if icon}}
    <i class="material-icons prefix">{{icon}}</i>
{{/if}}
{{input id=id
  value=value
  classNameBindings="validate:validate: validationClass"
  type=type
  required=required
  pattern=pattern
  maxlength=maxlength
  readonly=readonly
  disabled=disabled
  autocomplete=autocomplete
  autofocus=autofocus
  step=step
  min=min
  max=max}}
<label for="{{id}}" data-error="{{errorMessage}}" data-success="{{successMessage}}">{{label}}</label>
